<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.wahab.books_junction">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/book_icon"
        android:label="Book&apos;s_Junction"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Activities.Splash_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activities.Main2Activity" />
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Activities.Science_Grid" />
        <activity android:name=".Activities.Story_Book_List" />
        <activity android:name=".Activities.Novel_List" />
        <activity android:name=".Activities.Historical_Grid" />
        <activity android:name=".Activities.SSC_AddToBag_list" />

        <activity android:name=".Activities.twelveth_addtobag_science" />
        <activity android:name=".Activities.twelveth_addtobag_commerce" />
        <activity android:name=".Activities.eleventh_addtobag_science" />
        <activity android:name=".Activities.eleventh_commerce_addtobag" />
        <activity android:name=".Activities.Change_Password" />
        <activity android:name=".Activities.Update_Profile_User" />
        <activity android:name=".Activities.Forget_password" />

        <activity android:name=".Activities.Navigation_main"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>